name: assignment-test

# Trigger on push to any branch or manual trigger
on:
  push:
    tags-ignore:
      - '*'
    branches:
      - '*'
  workflow_dispatch:   # allows manual trigger

jobs:
  unit-test:
    container: cuaesd/aesd-autotest:unit-test
    runs-on: self-hosted
    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Initialize submodules
        run: git submodule update --init --recursive

      - name: Run unit tests
        run: ./unit-test.sh
